@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply p-0 m-0 border-normal-textdark dark:border-solar-textdark
    }

    body {
        @apply font-main text-normal-textdark dark:text-solar-textdark h-full flex-col bg-normal-background dark:bg-solar-background
    }

    h1 {
        @apply text-normal-bright dark:text-solar-bright text-[4rem] font-bold mb-[15px] uppercase tracking-[-1px] leading-tight
    }

    a {
        @apply text-center transition-colors duration-300
    }
    
    a:hover {
        @apply text-normal-accentorange dark:text-solar-accentpink
    }
}

@layer components {
    .main {
        @apply py-16 px-5 max-w-[900px] w-full overflow-y-auto flex-grow mx-auto
    }

    .about {
        @apply my-[60px] mb-[100px]
    }

    .cmd {
        @apply mb-[8px] text-[16px] text-normal-accentorange dark:text-solar-accentpink
    }

    .bio {
        @apply text-[1.1rem] leading-[1.6] w-auto
    }
    
    .hotbar {
        @apply z-[999] flex border-b border-solid justify-between px-5 py-3 text-[14px] fixed w-full bg-normal-background/50 dark:bg-solar-background/50
    }

    .hotbar-name {
        @apply text-left mx-5 bg-transparent
    }

    .hotbar-fill {
        @apply flex-grow
    }

    .links {
        @apply flex gap-5 mx-5 bg-transparent
    }

    .footbar {
        @apply z-[999] flex border-t border-solid justify-between px-5 py-2 text-[12px] fixed bottom-0 w-full bg-normal-background/50 dark:bg-solar-background/50
    }

    .footbar-options {
        @apply flex gap-5 mx-5 bg-transparent
    }
    button:hover {
        @apply text-normal-textlight dark:text-solar-textlight
    }

    .footbar-info {
        @apply flex gap-5 mx-3 bg-transparent
    }

    .project-list {
        @apply flex flex-col gap-5
    }

    .date {
        @apply text-normal-accentblue dark:text-solar-accentpink
    }

    .project-entry {
        @apply border border-solid p-6 transition duration-300 ease-in-out flex-col bg-normal-background/70 dark:bg-solar-background/70
    }

    .project-entry:hover {
        @apply border-normal-accentblue dark:border-solar-accentpink -translate-y-0.5 shadow-lg shadow-black/30 dark:shadow-white/30
    }

    .project-prologue {
        @apply text-normal-accentblue dark:text-solar-accentpink mb-1
    }

    .project-title {
        @apply h-6 w-auto text-[1.5rem] font-bold text-normal-textlight dark:text-solar-textlight mb-6 flex
    }

    .project-title::before {
        @apply content-['>'] mr-[10px] font-normal text-normal-textlight dark:text-solar-textlight
    }

    .project-desc {
        @apply mb-1 text-normal-textdark dark:text-solar-textdark max-w-[90%]
    }

    .project-stack::before {
        @apply content-['Stack:'] mr-[5px]
    }

    .project-stack {
        @apply italic
    }

    .tooltipInnerContainer {
        @apply border py-1 px-5 rounded-md bg-normal-background/50 dark:bg-solar-background/50 text-normal-textlight dark:text-solar-textlight
    }

    .contact-entry {
        @apply flex mb-5 items-stretch
    }

    .contact {
        @apply pt-5 pb-20
    }

    .contact-title {
        @apply w-[50%] text-2xl font-bold text-normal-textlight dark:text-solar-textdark mb-6
    }

    .contact-desc {
        @apply w-[50%] text-normal-textdark dark:text-solar-textdark
    }

    .copyright-title {
        @apply w-[50%] text-base font-normal text-normal-textlight dark:text-solar-textlight
    }

    .copyright-desc {
        @apply w-[50%] text-normal-textdark dark:text-solar-textdark
    }
}

@layer utilities {

}
